#Bottom{
    animation:rotation 5s infinite alternate ease-in-out;
  transform-origin:center;
  transform-box:fill-box;
}
@keyframes rotation{
  0%   {
    transform:rotateX(0deg);
    stroke-width: 10px;
  }
  100% {
    transform:rotateX(60deg);
    stroke-width: 20px;
  }
}

#breathe{
  height: 100vh;
}
