html {
  height: 100%;
  scroll-behavior: smooth;
}

.navbar{
  background-color: white;
  z-index:1;
}

#mems{
  background-image: url("../img/hero.svg");
  background-size: cover;
  height: 100vh;
  background-color: white;
}

#illustrator{
  background-image: url("../img/illustrate.png");
  background-size: cover;
  height: 100vh;
  background-color: white;
}

#canoe{
  background-image: url("../img/Alg.svg");
  background-size: cover;
  height: 100vh;
}
#canoe2{
  background-image: url("../img/alg2.svg");
  background-size: cover;
  height: 100vh;
}
#canoe3{
  background-image: url("../img/canoe.jpg");
  background-size: cover;
  height: 100vh;
}

.h-page{
  height: 100vh;
}

.position-sticky{
  top:100px;
}

.bg-white-6{
  background-color: #fff !important;
  opacity:0.6;
}

.logovis{
  opacity:0;
}

.slideleft {
  animation: slide-in-left 1s ease-in-out both;
}

.slideright {
  animation: slide-out-right 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
    opacity: 0;
  }
  1% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  99%{
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
    opacity: 0;
  }
}

.scrollbutton{
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.scrollbutton:hover {
  top: -10px;
}
